@charset "UTF-8";

.xx-enter {
  opacity: 0;
  transition: opacity 1s linear;
}

.xx-leave {
  opacity: 0;
  transition: opacity 1s linear;
}

// .xx-enter-active.xx-enter-active {
//   opacity: 1;
// }
//
// .xx-leave {
//   opacity: 1;
// }
//
// .xx-leave.xx-leave-active {
//   opacity: 0;
//   transition: opacity 300ms linear;
// }
